# ======================
# 🔹 Angular Ignore
# ======================
node_modules/
dist/
.angular/
*.log

# ======================
# 🔹 Spring Boot Ignore
# ======================
target/
*.class
*.log

# ======================
# 🔹 IDE / Editor
# ======================
.idea/
.vscode/

# ======================
# 🔹 OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# 🔹 Environment
# ======================
.env

# ======================
# 🔹 Misc
# ======================
build/ 
